body {
  text-align: center;
  min-width: 100%;
  background-image: url("");
  font-style: bold;
  background-size:100% 100%;
background-repeat:no-repeat;
font-family: monospace;
background-color: #dcdcdc;
color: snow;
}

.backImd {
  background-size:120px ;
background-repeat:no-repeat;
}

.redUserImg {
  width:200px;
  height:190px;
}

.yellowUserImg {
  width:250px;
  height:190px;
  margin-left: 179;
padding-left: 122;
}

.users {
  margin-top: 10%;
}


#connect4 {
  background-color: #6495ed   ;
  display: inline-block;
  padding: 1em;
  border-radius: .5em;
}

.col {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
}

.col.empty {
  cursor: pointer;
}

.next-red {
  background-color: rgba(255, 0, 0, 0.2);
}

.next-yellow {
  background-color: #efefae;
}

.col.red {
background-color: red;
  background-image: url('redM&M.png');
  background-size: contain;
}

.col.yellow {
  background-image: url('yellowM&M.png');
  background-size: contain;
}

#restart {
  margin-top: 1em;
  border: 1px solid #ccc;
  padding: .5em 1em;
  font-size: 1.6em;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: none;
  border-radius: 30px;
  color: snow;
  transition: .3s background ease;
}

#restart:hover {
  background: red;
}

#restart:active {
  background: yellow;
}

.turn-announcement {
  font-weight: normal;
  font-size: 3em;
  margin: 1em 0;
}

.red {
  color: red;
}

.yellow {
  color: grey;
}

footer {
  font-weight: normal;
  font-size: 3em;
  margin: 10%;
    box-shadow: 20px 20px 20px;

}

#submit1  {
  margin-top: 2em;
border: 1px solid #ccc;
padding: .5em 1em;
font-size: 1.3em;
background: none;
-webkit-appearance: none;
-moz-appearance: none;
cursor: pointer;
outline: none;
border-radius: 30px;
transition: .3s background ease;
color: snow;
}

#submit1:hover {
  background: red;
}

#submit1:active {
  background: lighred;
}


#submit2  {
  margin-top: 2em;
border: 1px solid #ccc;
padding: .5em 1em;
font-size: 1.3em;
background: none;
-webkit-appearance: none;
-moz-appearance: none;
cursor: pointer;
outline: none;
border-radius: 30px;
transition: .3s background ease;
color: snow;
}

#submit2:hover {
  background: yellow;
}

#submit2:active {
  background: yellow;
}
label {
  font-weight: normal;
  font-size: 2.2em;
  box-shadow: 20px 20px 20px;
  margin: 1em 0;

}
